* {
	box-sizing: border-box;
}
.appContainer{
	background-color: var(--light-navy);
	padding: 0px !important;
}
.headerContainer{
	background-color: var(--light-navy);
	padding: 5px;
	text-align: center;  
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	z-index: 100;
	width:100%;
}
.heroSec{
	padding: 20px;
	color: white;
	min-height: 60vh;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
    gap: 16px;
}
.heroSecDes{
	width:50%;
	opacity:0.6
}
.downloadResume{
	display: inline-block;
	color:var(--green);
	border:1px solid var(--green);
	border-radius: 10px;
	padding: 15px 25px;
	margin-top: 20px;
}
.downloadResume:hover{
	background-color:var(--light-navy);
	cursor: pointer;
}
.aboutSec{

	color:white;
	font-size: 20px;
	text-align: justify;
}
.abtList{
	columns: 2;
	font-size: 18px;
}
abtList li{
	list-style-type:circle;
}
.expContainer{
	color:white;
	padding: 50px;
}
.expHeader{
	text-align: center;
	padding: 10px 0;
	padding-left:15%;
	padding-right: 15%;
	font-size: 18px;
}

.expData{
	padding-left:15%;
	padding: 10px 0;
	padding-right: 15%;
	padding-left: 15%;
	font-size: 18px;
	text-align: justify;
}
.expShow,.expHide{
	padding: 10px 0;
	cursor: pointer;
	background-color: var(--navy);
	font-size: 18px;
}
.expShow{
	color:var(--green);
	border-bottom:2px solid var(--green);
}
.expHide{
	opacity: 0.8;

}
.hidden{
	display: none;
}

.footerCont{
	width: 100%;
	padding: 10px;
	color:white;
	text-align: center;
	background-color: var(--navy);
}
.projCont{
	color:white
}
.projContHead{
	color:white;
	text-align: center;
}
.indProj{
	
	margin: 20px 5px!important;
	background-color: var(--navy);
	border-radius: 10px;
}
.ProjectImage{
	width: 100%;

}
.ProjectImage:hover{
	
	box-shadow: 0 8px 16px 0 rgba(0,0,0,1);

}
.indProjDes{
	background-color: var(--navy);
	text-align: justify;
}
.projBtn{
 width:100%;
 padding: 30px 0px;
}

@media only screen and (max-width: 600px) {
	.heroSecDes{
		width:90%
	}
	.downloadResume{
		width: 100%;
		text-align: center;
	}
	.aboutEmail{
		overflow: scroll;
	}
	.expHeader{
		padding: 10px 5px;
	}
	.expData{
		padding:5px
	}
	.medQuRevCol{
		flex-direction: column-reverse;
	}
  }


	/* For HR line to Sec header */
	.separator {
		display: flex;
		align-items: center;
		text-align: center;
	}
	
	.separator::before,
	.separator::after {
		content: '';
		flex: 1;
		border-bottom: 1px solid var(--green);
	}
	
	.separator:not(:empty)::before {
		margin-right: 1em;
	}
	
	.separator:not(:empty)::after {
		margin-left: 1em;
	}